<section class="w-full py-10 md:py-16">
    <h2
        class="text-text-light text-4xl font-headline font-bold leading-tight tracking-[-0.015em] px-4 pb-6 text-center">
        Novedades
    </h2>

    <div class="max-w-[1800px] mx-auto px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-0">

            @for (product of products(); track product.id) {
            <app-product-card [product]="product" />
            } @empty {
            <p class="col-span-full text-center text-gray-500 py-10">
                No hay novedades por el momento.
            </p>
            }

        </div>
    </div>
</section>