@if (products().length > 0) {
<div class="mb-12 mt-24 border-t border-border-color pt-12">
    <div class="flex items-center justify-between mb-8">
        <h2 class="text-text-light text-4xl font-semibold tracking-tight font-headline">Productos similares</h2>
        <a routerLink="/products"
            class="text-primary font-bold text-sm hover:underline uppercase tracking-wide cursor-pointer font-body">Ver
            todos</a>
    </div>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
        @for (product of products(); track product.id) {
        <app-product-card [product]="product" />
        }
    </div>
</div>
}
