<div
    class="w-full h-48 md:h-64 lg:h-[450px] flex flex-col justify-end overflow-hidden relative group/banner bg-gray-100">
    @if (coverImageUrl()) {
    <img [src]="coverImageUrl()" alt="Cover Image" class="w-full h-full object-cover absolute inset-0 z-10">
    } @else {
    <div class="absolute inset-0 flex flex-col items-center justify-center text-gray-400 gap-2 bg-gray-100 z-10">
        <span class="material-symbols-outlined text-6xl">store</span>
        <p class="text-sm font-medium">Sin imagen de portada</p>
    </div>
    }

    <!-- Edit Button -->
    <app-edit-trigger-button (click)="edit.emit()" tooltip="Cambiar portada"
        customClass="bottom-4 right-4 group-hover/banner:opacity-100" [class.opacity-100]="!coverImageUrl()">
    </app-edit-trigger-button>
</div>